{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet">
       <title>Document</title>
</head>
<body>
       <div class="container">
              <div class="row">
                     <div class="col col-lg-5 card mx-auto mt-5 shadow border-0 rounded-5">
                            <form action="" class="form">
                                   <h2>Login</h2>
                                   <label for="user_name" class="form-label">User Name</label>
                                   <input type="text" id="user_name" name="user_name" class="form-control" placeholder="name@example.com">
                                   <label for="password" class="form-label">Password</label>
                                   <input type="password" name="user_password" class="form-control" id="password">
                                   <div class="col text-center"><input type="submit" class="btn btn-primary my-2" value="login" style="width: 100px;"></div>
                            </form> 
                     </div>
                    
              </div>
       </div>
       <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
</body>
</html>